
<div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="serverURL" placeholder="name@example.com">
    <label for="serverURL">Servidor</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="name" placeholder="Password">
    <label for="name">Nombre</label>
  </div>
  <input type="color" class="form-control form-control-color" id="ColorInput" value="#563d7c" title="Choose your color">
  <button (click)="connect()" class="btn btn-primary">Conectar</button>
  <button (click)="send()" class="btn btn-warning">Enviar</button>
</div>