<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body colors-container">
        <div class="neon-blue" (click)="selectColor('blue')" data-bs-dismiss="modal"></div>
        <div class="neon-red" (click)="selectColor('red')" data-bs-dismiss="modal"></div>
        <div class="neon-green" (click)="selectColor('green')" data-bs-dismiss="modal"></div>
        <div class="neon-yellow" (click)="selectColor('yellow')" data-bs-dismiss="modal"></div>
        <div class="neon-purple" (click)="selectColor('purple')" data-bs-dismiss="modal"></div>
      </div>
    </div>
  </div>
</div>
