
      <div class="card position-relative card-custom">
        <!-- Icono principal al centro -->
        <img 
          [src]="getSrc()" 
          [class]="classImg"
          alt="Main Icon">  
        <!-- Icono adicional pequeño en la esquina superior derecha -->
        <img 
          *ngIf="isChain" 
          src="assets/Cards/chain.svg" 
          [class]="classIcon"
          alt="Chain Icon">
        <img 
          *ngIf="isGeneral" 
          src="assets/Cards/general.svg" 
          [class]="classIcon"
          alt="General Icon">
      </div>

