/* Icono principal al centro, pero más hacia el fondo */
.main-icon-buttom {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  bottom: -5px; /* Ajusta la distancia al borde inferior */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
}

.main-icon-center {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  bottom: 10px; /* Ajusta la distancia al borde inferior, puedes modificar el valor */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
}

/* Icono adicional en la esquina superior derecha */
.chain-icon {
  width: 30px; /* Ajusta el tamaño del icono */
  height: 30px;
  top: 4px; /* Posición desde la parte superior */
  right: 4px; /* Posición desde la derecha */
  object-fit: contain;
}

/* Contenedor de la card */
.card-custom {
  width: 80px;
  height: 105px;
  border: solid #636363;
  border-width: 3px 1.5px; 
  border-radius: 8px;
  overflow: hidden;
  background-color: black;
  position: relative; /* Necesario para posicionar los elementos hijos */
}

.cardNumber{
  font-family: "Orbitron", sans-serif;
  color:#fff;
  font-size: 72px;
  text-align: center;
}

@keyframes neon-glow {
  0% {
    filter: drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 3px var(--neon-color))
    drop-shadow(0px 0px 10px var(--neon-color))
    drop-shadow(0px 0px 30px var(--neon-color))
    drop-shadow(0px 0px 50px var(--neon-color));
  }
  100% {
    filter: drop-shadow(0px 0px 3px #fff)
            drop-shadow(0px 0px 6px var(--neon-color2))
            drop-shadow(0px 0px 15px var(--neon-color2))
            drop-shadow(0px 0px 30px var(--neon-color2))
            drop-shadow(0px 0px 45px var(--neon-color2));
  }
}

/* Clases de color neón */
.neon-blue {
  --neon-color: #0b8aa4; 
  --neon-color2: #0dcaf0; 
  animation: neon-glow 1s infinite alternate;
}

.neon-blue-purple {
  --neon-color: #0dcaf0; 
  --neon-color2: #8a2be2; 
  animation: neon-glow 2s infinite alternate;
}

.neon-blue-red {
  --neon-color: #0dcaf0; 
  --neon-color2: #ff073a; 
  animation: neon-glow 2s infinite alternate;
}

.neon-blue-yellow {
  --neon-color: #0dcaf0; 
  --neon-color2: #f7ff07; 
  animation: neon-glow 2s infinite alternate;
}

.neon-blue-green {
  --neon-color: #0dcaf0; 
  --neon-color2: #39ff14; 
  animation: neon-glow 2s infinite alternate;
}

.neon-purple {
  --neon-color: #451473; 
  --neon-color2: #8a2be2; 
  animation: neon-glow 1s infinite alternate;
}
.neon-purple-blue {
  --neon-color: #8a2be2; 
  --neon-color2: #0dcaf0; 
  animation: neon-glow 2s infinite alternate;
}

.neon-purple-red {
  --neon-color: #8a2be2; 
  --neon-color2: #ff073a; 
  animation: neon-glow 2s infinite alternate;
}

.neon-purple-yellow {
  --neon-color: #8a2be2; 
  --neon-color2: #f7ff07; 
  animation: neon-glow 2s infinite alternate;
}

.neon-purple-green {
  --neon-color: #8a2be2; 
  --neon-color2: #39ff14; 
  animation: neon-glow 2s infinite alternate;
}

.neon-red {
  --neon-color: #8a001c; 
  --neon-color2: #ff073a; 
  animation: neon-glow 1s infinite alternate;
}

.neon-red-blue {
  --neon-color: #ff073a; 
  --neon-color2: #0dcaf0; 
  animation: neon-glow 2s infinite alternate;
}

.neon-red-purple {
  --neon-color: #ff073a; 
  --neon-color2: #8a2be2; 
  animation: neon-glow 2s infinite alternate;
}

.neon-red-yellow {
  --neon-color: #ff073a; 
  --neon-color2: #f7ff07; 
  animation: neon-glow 2s infinite alternate;
}

.neon-red-green {
  --neon-color: #ff073a; 
  --neon-color2: #39ff14; 
  animation: neon-glow 2s infinite alternate;
}

.neon-yellow {
  --neon-color: #979c00; 
  --neon-color2: #f7ff07; 
  animation: neon-glow 1s infinite alternate;
}

.neon-yellow-blue {
  --neon-color: #f7ff07; 
  --neon-color2: #0dcaf0; 
  animation: neon-glow 2s infinite alternate;
}

.neon-yellow-purple {
  --neon-color: #f7ff07; 
  --neon-color2: #8a2be2; 
  animation: neon-glow 2s infinite alternate;
}

.neon-yellow-red {
  --neon-color: #f7ff07; 
  --neon-color2: #ff073a; 
  animation: neon-glow 2s infinite alternate;
}

.neon-yellow-green {
  --neon-color: #f7ff07; 
  --neon-color2: #39ff14; 
  animation: neon-glow 2s infinite alternate;
}

.neon-green {
  --neon-color: #1f9609;
  --neon-color2: #39ff14;
  animation: neon-glow 1s infinite alternate;
}

.neon-green-blue {
  --neon-color: #39ff14; 
  --neon-color2: #0dcaf0; 
  animation: neon-glow 2s infinite alternate;
}

.neon-green-purple {
  --neon-color: #39ff14; 
  --neon-color2: #8a2be2; 
  animation: neon-glow 2s infinite alternate;
}

.neon-green-red {
  --neon-color: #39ff14; 
  --neon-color2: #ff073a; 
  animation: neon-glow 2s infinite alternate;
}

.neon-green-green {
  --neon-color: #39ff14; 
  --neon-color2: #f7ff07; 
  animation: neon-glow 2s infinite alternate;
}

.neon-off {
  filter: brightness(0) saturate(100%) invert(55%) sepia(6%) saturate(0%) hue-rotate(193deg) brightness(93%) contrast(93%);
}