.border{
  border: 1px solid black;
}

.dead-player-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start ;
}

.hand-container{
  overflow-x:auto;
  display: flex;
  flex-direction: row;
}

.players-container{
  overflow-x:auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:center;
}

.header{
  height: 10%;
  color: white;
}

.game-board{
  color: white;
  height: 70%;
}

.deadNumber{
  color: red;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size:xx-large;
}