.waiting-container {
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
  .row {
    display: flex;
    &.first-row {
      height: 87%; /* Mitad superior */
      .column { 
        &.large {
          flex: 4; /* Ocupa el 80% */
          overflow-y: auto;
          max-height: 100%;
        }
        &.small {
          flex: 1; /* Ocupa el 20% */
          overflow-y: auto;
          max-height: 100%;
        }
      }
    }
    &.second-row {
      button {
        height: 100%;
        width: 50%;
      }
    }
  }
}
.waiting-vote-container{
  overflow-y: auto;
  max-height: 100%;
  text-align: justify;
}

.waiting-title{
  margin: 20px;
}
