<div class="">
  <input
  type="text"
  placeholder="Nombre"
  class="form-control"
  #name
  >
  <div class="form-check bg-dark">
    @for(option of optionsPic; track $index){
      <div class="form-check form-check-inline">
        <input 
          class="form-check-input" 
          type="radio" 
          name="inlineRadioOptions" 
          [id]="option" 
          [value]="option"
          [(ngModel)]="selectedOption"
          >
        <label class="form-check-label" [for]="option">
          <svg-icon [src]="avatarPaths[option]"  [svgStyle]="{ 'width.px': 100,'height.px': 100, 'fill': 'red'}" ></svg-icon>
          <!-- <img [src]="avatarPaths[option]"  alt="Avatar" style="width: 100px"> -->
        </label>
      </div>
    }
  </div>
  
  <button
  class="btn btn-primary"
  [routerLink]="['/game']"
  >
    Jugar
  </button>
</div>
