<div class="">
  <button
  class="btn btn-primary"
  (click) = "sendReady()"
  >
    Listo
  </button>
  <div *ngIf="this.turn >= 0">
    <p>Last discard:{{this.lastDiscard.number}}-{{this.lastDiscard.colors}}</p>
    <p>Turno: {{this.players[turn].name}} - {{this.players[turn].hand}}</p>
    <div *ngIf="this.hand.length > 0; else emptyHand">
      <p>Tu Mano</p>
      <ul>
        <li *ngFor="let card of this.hand; let i = index">
          <button (click)="sendCard(i)">
            {{ i + 1 }}. {{ card.number !== undefined && card.number !== null ? card.number : '' }} - {{ card.colors.join(', ') }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <!-- Mostrar mensaje cuando la mano está vacía -->
  <ng-template #emptyHand>
    <p>No hay cartas en tu mano.</p>
  </ng-template>
</div>
